.container[b-cij5qcsdmr] {
    min-height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-card[b-cij5qcsdmr] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid white;
    height: auto;
    background: transparent;
    backdrop-filter: blur(20px);
    cursor: pointer;
}

h3[b-cij5qcsdmr] {
    margin:0;
    font-size: 32pt;
    color: white;
    cursor: pointer;
}