*[b-mq1ljgr4dj] {
    margin: 0;
    padding: 0;
}

.post-container[b-mq1ljgr4dj] {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.title[b-mq1ljgr4dj] {
    margin: 20px 20px 0 20px;
    font-size: 16pt;
    height: auto;
    width: auto;
    padding: 2px;
    backdrop-filter: blur(1px);
}

h2[b-mq1ljgr4dj] {
    color: white;
    text-shadow: 0 0 4px black;
    max-width: 800px; /* Set a maximum width for the h2 */
    word-wrap: break-word;
}

.owner[b-mq1ljgr4dj] {
    margin: 0 20px 0 40px;
    height: auto;
    width: auto;
    padding: 2px;
    backdrop-filter: blur(1px);
}

.post p[b-mq1ljgr4dj] {
    font-size: 12pt;
    word-wrap: break-word;
    color: white;
}

.owner label[b-mq1ljgr4dj] {
    text-decoration: underline;
    color: white;
    text-shadow: 0 0 3px black;
}

.post[b-mq1ljgr4dj] {
    padding: 20px;
    min-height: 100px;
    height: auto;
    background-color: rgba(81, 81, 81, 0.4);
    backdrop-filter: blur(15px);
    width: 800px;
    border: 2px solid white;
    box-shadow: 0 0 5px white;
    margin-top: 15px;
}